body{
  max-width: 20.7cm;
}
.table-border {
    border: 1px solid black;
    border-collapse: collapse;
    word-wrap: break-word;
  }

.table-border2{
  border-collapse: collapse;
}

.border{
  border: 1px solid black;

}



  .siku{
  border: 2px solid black;
  border-radius: 25px;
  padding: 20px;
    margin-top: 50px;
  }

.text-center{
    text-align: center;
}

.text-left{
  text-align: left;
  margin-left: 5px;
}
.text-right{
  text-align: right;
  margin-right: 5px;
}

.border-bottom{
  border-bottom: 1px solid;
}

.border-right{
  border-right: 1px solid;
}

.padding-right{
  padding-right: 10px;
}
.padding-left{
  padding-left: 10px;
}


.pl-20{
  padding-left: 20px;
}
.pl-50{
  padding-left: 100px;
}
tr.highlight td{
  padding-top: 20px;
}

.ttd{
  padding-top: 100px;
}

.barcode{
  padding-left: 20px;
  padding-top: 3%;
  padding-bottom: 3%;
}


.w-5{
  width: 5%;
}
.w-10{
  width: 10%;
}
.w-15{
  width: 15%;
}
.w-30{
  width: 30%;
}
.w-45{
  width: 45%;
}
.w-50{
  width: 50%;
}

.my-20{
  margin-top: 20px;
  margin-bottom: 20px;
}


/*  kompetensi */

.kompetensi tr{
  line-height: 1.5cm;
}

.siswa-induk{
  margin-top: 20px;
}
.siswa-induk td{
  font-size: 1.2rem;
  padding-top: 2px;
}


@media print {
  .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}