@page {
    size: 21cm 29.7cm;
    margin: 2cm 2cm;
    font-size: 14pt;
    font-family: sans-serif;
}

body {
    margin: auto;
    width: 21cm;
    height: 100%;
}

* {

    margin: 0;
    padding: 0;
    font-size: 14pt;
    font-family: sans-serif;
}

.tagline h1{
    font-size: 2.5rem;
}
